[hidden] { 
	display: none; 
}

html {
  font-family: arial, sans-serif;
  background-color: white;
  color: black;
  text-align: center;
}

body {
  max-width: 80ex;
  margin: 0 auto;
  text-align: left;
}

a:link, a:active {
  color: #6495ed;
}

a:visited {
  color: #3232ff;
}

a:link img, a:visited img {
   border: none;
}

pre {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 0.5em; 
}

dfn {
	font-weight: bold;
	color: #942525;
}

h1 { 
	color: #444;
}

.mail, #headers { 
	border-bottom: 2px solid #444;
	padding-bottom: 0.5em;
}

#replies {
	margin-top: 0.5em;
}

nav ul, nav li {
  list-style: none;
}

footer {
  padding-top: 1em;
  font-size: small;
}
